<launch>
    <arg name="path" default="/media/andreu/Black\ Hard\ Drive/rosbags" />
    <arg name="bagname" default="kitti_2011_09_26_drive_0035_synced.bag" />
    <arg name="required" default="false" />
    <arg name="r" default="4" />

    <node pkg="rosbag" type="play" name="player" required="$(arg required)" args="$(arg path)/$(arg bagname) -r $(arg r)"/>
</launch>