<launch>
    <!-- Absolute paths -->
    <arg name="launchpath" default="/media/andreu/Movies/ws_fastlio/src/SLAM-Evaluator/launch/algorithms" />
    <arg name="bagpath" default="/media/andreu/Black Hard Drive/rosbags" />
    
    <!-- Folder + Algorithm -->
    <arg name="bagfolder" default="28" />
    <arg name="algorithm" default="gt" />
    <arg name="commit" default="." />
    <arg name="bags" default="" />

    <node pkg="slam_evaluator" name="record_folder" type="record_folder.py" output="screen">
        <param name="bagpath" value="$(arg bagpath)" />
        <param name="bagfolder" value="$(arg bagfolder)" />

        <param name="launchpath" value="$(arg launchpath)" />
        <param name="algorithm" value="$(arg algorithm)" />
        <param name="commit" value="$(arg commit)" />
        <param name="bags" value="$(arg bags)" />
    </node>
</launch>