<launch>
    <arg name="runname" default="kitti_2011_09_26_drive_0035_synced" />

    <!-- Algorithm -->
    <rosparam command="load" file="$(find limovelo)/config/kitti.yaml" />
    <node pkg="limovelo" type="limovelo" name="limovelo" required="true" />
    
    <!-- Player -->
    <include file="$(find slam_evaluator)/launch/player.launch">
        <arg name="bagname" value="$(arg runname).bag" />
    </include>
    
    <!-- Recorder -->
    <include file="$(find slam_evaluator)/launch/recorder.launch">
        <arg name="filename" default="$(arg runname)" />
    </include>
</launch>